.gridImages{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.grid img{
    width: 33%;
}
.gridImages h3{
    font-size: var(--smaller-font-size);
    color: var(--grey-500);
}
.gridImages h2{
    font-size: var(--h1-font-size);
    margin-bottom: 50px;
    font-weight: 500;
    color: var(--grey-800);
}

@media only screen and (max-width: 650px) {
    .gridImages{
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .grid{
        width: 80%;
    }
    .grid img{
        width: 50%;
    }
}
